GNAF_URL="https://data.gov.au/data/dataset/19432f89-dc3a-4ef3-b943-5326ef1dbecc/resource/fa2f2db3-c7ad-4bc7-b93b-1f6415e180fa/download/g-naf_may25_allstates_gda2020_psv_1019.zip"
TARGET_FOLDER="gnaf-data"
DATABASE="sqlite"